$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.modal-title {
  display: inline;
}

.failureMessage {
  color: #c1263e;
  font-size: 16px;
  margin-bottom: 10px;
}

.successMessage {
  color: #26c1b4;
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-button {
  display: none;
}

.greeting-text {
  display: none;
}

.get-songs {
  display: none;
}

.get-all-phases {
  display: none;
}

.phases-content {
  display: none;
}

.get-phase {
  display: none;
}

.create-phase {
  display: none;
}

.create-song {
  display: none;
}

.create-favorite-song {
  display: none;
}

.sign-out {
  display: none;
}
